<?xml version="1.0" encoding="utf-8"?>
<!--
  This file is part of Umbra.
  
      Umbra is free software: you can redistribute it and/or modify
      it under the terms of the GNU General Public License as published by
      the Free Software Foundation, either version 3 of the License, or
      (at your option) any later version.
  
      Umbra is distributed in the hope that it will be useful,
      but WITHOUT ANY WARRANTY; without even the implied warranty of
      MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
      GNU General Public License for more details.
  
      You should have received a copy of the GNU General Public License
      along with Umbra.  If not, see <http://www.gnu.org/licenses/>.
  
      Copyright (c) 2011 vasile.
      All rights reserved. This program and the accompanying materials
      are made available under the terms of the GNU Public License v3.0
      which accompanies this distribution, and is available at

     http://www.gnu.org/licenses/gpl-3.0.html

      Contributors:
         Vasile Jureschi <vasile.jureschi@gmail.com> - initial API and implementation
        Yen-Liang, Shen - Simplified Chinese and Traditional Chinese translations
-->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="org.unchiujar.umbra2">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <uses-feature
            android:glEsVersion="0x00020000"
            android:required="true"/>

    <application
            android:icon="@drawable/icon"
            android:label="@string/app_name"
            android:logo="@drawable/icon"
            android:name="org.unchiujar.umbra2.activities.UmbraApplication"
            android:theme="@style/CustomActionBarTheme"
            android:allowBackup="true">

        <meta-data
                android:name="com.google.android.gms.version"
                android:value="@integer/google_play_services_version"/>


        <activity
                android:label="@string/app_name"
                android:launchMode="singleInstance"
                android:multiprocess="false"
                android:name="org.unchiujar.umbra2.activities.FogOfExplore"
                android:screenOrientation="sensor">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
            <!-- android matches non-greedy : http://stackoverflow.com/questions/3400072/pathpattern-to-match-file-extension-does-not-work-if-a-period-exists-elsewhere-i-->
            <!-- mimeType&host are both needed or you will either have unwanted matching or no match when needed -->
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>

                <data
                        android:scheme="file"
                        android:host="*"
                        android:mimeType="*/*"
                        android:pathPattern=".*\\.gpx"/>
                <data
                        android:scheme="file"
                        android:host="*"
                        android:mimeType="*/*"
                        android:pathPattern=".*\\..*\\.gpx"/>
                <data
                        android:scheme="file"
                        android:host="*"
                        android:mimeType="*/*"
                        android:pathPattern=".*\\..*\\..*\\.gpx"/>
                <data
                        android:scheme="file"
                        android:host="*"
                        android:mimeType="*/*"
                        android:pathPattern=".*\\..*\\..*\\..*\\.gpx"/>
                <data
                        android:scheme="file"
                        android:host="*"
                        android:mimeType="*/*"
                        android:pathPattern=".*\\..*\\..*\\..*\\..*\\.gpx"/>
            </intent-filter>
        </activity>

        <uses-library android:name="com.google.android.maps"/>

        <service android:name="org.unchiujar.umbra2.services.LocationService">
            <intent-filter>
                <action android:name="org.com.unchiujar.LocationService"/>
            </intent-filter>
        </service>

        <activity android:name="org.unchiujar.umbra2.activities.Help"/>
        <activity
                android:name="org.unchiujar.umbra2.activities.Preferences"
                android:windowSoftInputMode="stateHidden"/>

        <meta-data
                android:name="com.google.android.maps.v2.API_KEY"
                android:value="AIzaSyBPYHF-CkwRiUB2w7F-7prSaWBqNAqoKDo"/>
        <!-- debug key: AIzaSyBnOaTCzzVIwS44ssONvav0eeLh607JUiQ -->
        <!-- release key: AIzaSyBPYHF-CkwRiUB2w7F-7prSaWBqNAqoKDo -->
    </application>

</manifest>